---
layout: blank
---
{% for page in paginator.posts %}
    {% if page.categories.size > 0 %}
    {% capture tags_content %} <br /><i class="fa fa-folder-open-o"></i> Posted In: {% endcapture %}
    {% assign categories = page.categories | sort %}

    {% for category in categories %}
        {% capture tags_content_temp %}{{ tags_content }}{% if forloop.last == true and page.categories.size > 1 %} and {% endif %}<a href="{{site.baseurl}}/categoryview/#{{ category | slugify }}">{{ category | replace: '-', '' }}</a>{% if forloop.last == false and page.categories.size > 2 %}, {% endif %}{% endcapture %}
        {% assign tags_content = tags_content_temp %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

    <article>
      <header>
        <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
        <p>{% if page.author %}{{ page.author }} • {% endif %}{% if page.date %}<i class="fa fa-calendar"></i>  {{ page.date | date: "%b %-d, %Y" }}</time>{% endif %}
            {% if site.comments.disquscommentcount and page.comments %}
                • <i class="fa fa-comment-o"></i><a href="{{ page.url }}#disqus_thread class="read-more"></a>
           {% else if site.comments.disqus and page.comments  %}
                • <i class="fa fa-comment-o"></i><a href="{{ "#disqus" | prepend: page.url | prepend: site.baseurl | prepend: site.url }}" class="read-more">Add/View Comments</a>
            {% endif %}
           {{ tags_content }}
           </p>
           
      </header>
      <div>
{{ page.excerpt | markdownify }}
      </div>
      <footer>
        <p><a href="{{ page.url | prepend: site.baseurl }}">{{ site.more }} &raquo;</a></p>
      </footer>
    </article>
    {% endfor %}
    {% if paginator.total_pages > 1 %}
    <footer id="paginate">
        {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">« newer posts</a>{% else %}<span>« newer posts</span>{% endif %}
        <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">older posts »</a>{% else %}<span>older posts »</span>{% endif %}
    </footer>
    {% endif %}
