---
layout: default
active: home
---
{% for post in site.posts %}

<article>
  <section class="containerOuter blogHeader">
    <section class="containerInnerNarrow">
      <h2 class="blogTitle"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <div class="blogMetaInfo">
        <span class="blogMetaDate"> {{ post.date | date: "%B %e, %Y" }} </span>
      <span>Posted In:
        {% for tag in post.categories %}

              <a href="{{site.url}}/category/{{ tag | slugify }}/">
                {{ tag | replace:'-', ' ' }}
</a>
                {% if  post.categories.size !=  1 and post.categories.last != tag %}
            |
        {%endif %}
        {% endfor %}
      </span>
      </div>
      </h2>

    </section>
  </section>

  <section class="containerOuter blogBodyContainer">
    <section class="containerInner blogBody">
        {% if site.disqus %}
      {{ post.content }}

        <p> <a href="{{ site.baseurl }}{{ post.url }}#disqus" class="read-more">Comments</a></p>
        {% else %}
      {{ post.content | truncatewords: 40}}
        <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read more</a></p>
        {%endif %}

    </section>



  </section>
</article>
{% endfor %}
