**Other Lessons in the Series**

* [View Part 1 Getting Started]({{site.url}}/blogging-on-github-part-1/)
* [View Part 2 Creating your first blog post]({{site.url}}/blogging-on-github-part-2-your-first-post/)
* [View Part 3 Adding the ability for readers to comment on your post]({{site.url}}/blogging-on-github-part-3-adding-comments/)
* [View Part 4 Creating additional pages]({{ site.url}} /blogging-on-github-part-4-creating-additional-pages/)
* [View Part 5 Adding a page that list post by category ]({{ site.url}}/blogging-on-github-part-5-adding-a-category-page/)
* [View Part 6 Adding a page that list post by month]({{site.url}}/blogging-on-github-part-6-adding-post-by-date/)
* [View Part 7 Adding a custom Google search]({{site.url}}blogging-on-github-part-7-adding-a-custom-google-search/)