### Series Lessons

* [Part 1 Getting Started]({{site.url}}/blogging-on-github-part-1-Getting-Started/)
* [Part 2 Creating your first blog post]({{site.url}}/blogging-on-github-part-2-your-first-post/)
* [Part 3 Adding the ability for readers to comment on your post]({{site.url}}/blogging-on-github-part-3-adding-comments/)
* [Part 4 Creating additional pages]({{site.url}}/blogging-on-github-part-4-creating-additional-pages/)
* [Part 5 Adding a page that list post by category]({{ site.url}}/blogging-on-github-part-5-adding-a-category-page/)
* [Part 6 Adding a page that list post by month]({{site.url}}/blogging-on-github-part-6-adding-post-by-date/)
* [Part 7 Adding a custom Google search]({{site.url}}/blogging-on-github-part-7-adding-a-custom-google-search/)
* [Part 8 Using your own domain name]({{site.url}}/blogging-on-github-part-8-using-a-custom-domain/)
* Part 9 How to make change locally and push them to Github
* Part 10 Pro Tips