**Other Lessons in the Series**

1. [Easy Virtual Machine Management]({{site.url}}/vagrant-overview/)
1. [Provisioning Introduction]({{site.url}}/vagrant-provisioning-intro)
1. [Provisioning with Chocolatey]({{site.url}}/vagrant-provisioning-with-chocolatey)
1. [Installing BoxStarter]({{site.url}}/vagrant-installing-boxstarter)
1. [Installing All of the Your Software]({{site.url}}/vagrant-installing-your-software)
1. [Network Options]({{site.url}}/vagrant-networking-options)
1. [Multiple Machines]({{site.url}}/vagrant-multiple-machines)
1. [Azure Virtual Machines]({{site.url}}/vagrant-azure-machines)
1. [Creating Your Own Base Boxes]({{site.url}}/vagrant-create-your-own-base-boxes)