{% assign next = page.order | plus:1 %}
{% assign previous = page.order | minus:1 %}

{% assign pages_list = site.workshops | order: 'title' %}
{% for node in pages_list %}

{% if node.order > 0 && node.type != null && node.type == page.type %}
{% if node.order == next  %}
{% assign nextpage = node.url %}
{% endif %}

{% if node.order == previous  %}
{% assign previouspage = node.url %}
{% endif %}

{% endif %}
{% endfor %}

<div id="paginate">
    {% if previouspage %}<span><a href="{{ previouspage }}">« previous lab</a></span>{% else %}&nbsp;{% endif %}

    {% if nextpage %}<span><a href="{{ nextpage }}">next lab »</a></span>{% else %}&nbsp;{% endif %}
</div>