figure {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  display: block;
}

.test-site-warning {
  background-color: red;
  padding: 5px 0 5px 0;
  width:100%;
  color:black;
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.site-title {
    // text-align: center;
    font-size: 3em;
    margin: 0;
    padding: .1em 0;
    font-weight: normal;

    a {
      vertical-align: super;
    }

    .site-avatar {

      width: 70px;
      height: 70px;
      margin-right: 15px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
// 
//       img {
//         border-radius: 5px;
//       }
    }
  }

/*    
code, pre {
  width: 100%;
  float: none;
  clear: both;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  // background-color: $lightGray;
  //color: #000;
  padding: 0 3px;
  word-break: break-all;
  width: 100%;
  float: none;
  clear: both;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

pre {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  // background-color: $lightGray; //$bodyPre;
   border: 1px dashed;//$preTagBorder;
  overflow: auto;
  padding: 1em;
  font-size: 100%;
  margin: 1em auto;
}

code.language-text {
  white-space: pre-wrap;       //css-3 
  white-space: -moz-pre-wrap;  //Mozilla, since 1999 
  white-space: -pre-wrap;      // Opera 4-6 
  white-space: -o-pre-wrap;    // Opera 7 
  word-wrap: break-word;       // Internet Explorer 5.5+ 
}
*/

@media screen and (max-width: 568px) {
 .site-title {
    font-size: 2em;
  }
  
 .site-avatar {
    display: none;
  }

  code {
    word-wrap: normal !important;
    white-space: inherit !important;
  }
  code.language-text {
    word-wrap: normal !important;
    white-space: inherit !important;
  }
  
    /* Hack that doesn't work well to get SyntaxHighlighter
   to look decent on an iPhone */
  pre {
    -webkit-text-size-adjust: 82%;
  }
  code {
    -webkit-text-size-adjust: 82%;
  }

}
@media only screen and (max-width: 400px) {
  .about img {
    max-width: 100%;
  }
  code {
    word-wrap: normal !important;
    white-space: inherit !important;
  }
  code.language-text {
    word-wrap: normal !important;
    white-space: inherit !important;
  }
}


.panel {
    padding: 15px;
    margin-bottom: 20px;
    // background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}

.panel-heading {
    padding: 10px 15px;
    margin: -15px -15px 15px;
    // background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 500
}

.panel-footer {
    padding: 10px 15px;
    margin: 15px -15px -15px;
    // background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel-primary {
    border-color: #428bca
}

.panel-primary .panel-heading {
    // color: #fff;
    // background-color: #428bca;
    border-color: #428bca
}

.panel-success {
    border-color: #d6e9c6
}

.panel-success .panel-heading {
    // color: #468847;
    // background-color: #dff0d8;
    border-color: #d6e9c6
}

.panel-warning {
    border-color: #fbeed5
}

.panel-warning .panel-heading {
    // color: #c09853;
    // background-color: #fcf8e3;
    border-color: #fbeed5
}

.panel-danger {
    border-color: #eed3d7
}

.panel-danger .panel-heading {
    // color: #b94a48;
    // background-color: #f2dede;
    border-color: #eed3d7
}

.panel-info {
    border-color: #bce8f1
}

.panel-info .panel-heading {
    // color: #3a87ad;
    // background-color: #d9edf7;
    border-color: #bce8f1
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}


/* 
Generic Styling, for Desktops/Laptops 
*/
table  { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th  { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th  { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
    td:before { content: attr(data-label); }
	*/
	
}

blockquote{
  //font-style: italic;
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #46e;
  border-right: 2px solid #46e;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  &:after {
    /*Reset to make sure*/
    content: "";
  }

  a {
    padding: 0 3px;

    &:hover {
      color: #666;
    }
  }

  em {
    font-style: italic;
  }

  &.warning {
    border-color: #A00 !important;

  }
}
