---
layout: default
---
<article>
  <section class="containerOuter blogHeader">
    <section class="containerInnerNarrow">
      <h2 class="blogTitle">{{ page.title }}
        <div class="blogMetaInfo">
          <span class="blogMetaDate"> {{ page.date | date: "%B %e, %Y" }} </span>
      <span>Posted In:
        {% for tag in page.categories %}
          {{tag }}
          {% if  page.categories.size !=  1 and page.categories.last != tag %}
            |
        {%endif %}
        {% endfor %}
      </span>
        </div>
      </h2>
    </section>
  </section>

  <section class="containerOuter blogBodyContainer">
    <section class="containerInner blogBody">
      {{ content }}
    </section>
  </section>

  <section class="containerOuter">
    <section class="containerInner">
      {% include disqus.html disqus_identifier=page.disqus_identifier %}
    </section>
  </section>
</article>